.ticketBox{
        width: 502px;
        height: 184px;
        background-color: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;

        &__info{
            display: flex;
           justify-content: space-between;
           width: 462px;
           height: 40px;
           padding: 0px 20px 10px 20px;

           &_title{
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #A0B0B9;
           }

               &_about{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #4A4A4A;
           }

           &:last-child{
            padding: 0px 20px 20px 20px;
           }

        P {
                margin: 0;
            }
        }

        &__title{
        width: 462px;
        height: 40px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        padding: 20px;
        
        color: #2196F3;
            display: flex;
                justify-content: space-between;
                align-items: center;

        P{
            margin: 0;
        }
        
        }
    }
